Repository ma3u/azm-alz-min: changes, and which pre-commit hooks are due for each by the changed paths.
All: bicep-lint, bicep-format, bicep-avm-check, bicep-security-scan, terraform-fmt, azure-policy-check, resource-naming-check, cost-estimation

bicep-lint:
  name: Bicep Lint
  description: Lint Bicep files for errors and warnings
  entry: bash -c
  args:
  - "for file in \"$@\"; do\n  echo \"Linting: $file\"\n  az bicep build --file \"$file\" --stdout > /dev/null\n  echo \"‚úÖ $file passed Bicep lint\"\ndone\n"
  language: system

bicep-format:
  name: Bicep Format
  description: Format Bicep files for consistency
  entry: bash -c
  args:
  - "for file in \"$@\"; do\n  echo \"Formatting: $file\"\n  az bicep build --file \"$file\" --stdout > /dev/null\n  echo \"‚úÖ $file format validated\"\ndone\n"
  language: system

bicep-avm-check:
  name: Bicep AVM Module Verification
  description: Verify AVM module usage and versions
  entry: bash -c
  args:
  ...

bicep-security-scan:
  name: Bicep Security Scan
  description: Security analysis for Bicep templates
  entry: bash -c
  args:
  ...

terraform-fmt:
  name: Terraform Format
  description: Format Terraform files
  entry: bash -c
  args:
  ...

azure-policy-check:
  name: Azure Policy Compliance Check
  description: Check templates against common Azure policies
  entry: bash -c
  args:
  ...

resource-naming-check:
  name: Azure Resource Naming Convention
  description: Validate Azure resource naming conventions
  entry: ./automation/scripts/validate-naming.sh
  language: system

cost-estimation:
  name: Infrastructure Cost Estimation
  description: Estimate costs for infrastructure changes and calculate deltas
  entry: ./automation/scripts/cost-delta-calculator.sh
  args:
  - precommit
  language: system
  pass_filenames: true

🚀 Fix: Update Kubernetes version and App Service SKU for policy compliance
  .github/workflows/azure-landing-zone-cicd.yml
  .github/workflows/bicep-alz-sandbox.yml
  .github/workflows/hub-spoke-managed-identity.yml
  .github/workflows/terraform-alz-deployment.yml
  README.md
  blueprints/bicep/hub-spoke/main.bicep
  blueprints/bicep/hub-spoke/main.parameters.managed-identity.json
  blueprints/terraform/foundation/AKS-DEPLOYMENT-VALIDATION.md
  blueprints/terraform/foundation/AKS-POLICY-BLOCKER-ANALYSIS.md
  blueprints/terraform/foundation/AKS-POLICY-FIX-SUCCESS.md
  blueprints/terraform/foundation/README.md
  blueprints/terraform/foundation/main.tf
  blueprints/terraform/foundation/outputs.tf
  blueprints/terraform/foundation/terraform-aks-example.tfvars
  blueprints/terraform/foundation/terraform.tfvars
  blueprints/terraform/foundation/tfplan
  blueprints/terraform/foundation/tfplan-aks-simple
  blueprints/terraform/foundation/tfplan-compliant
  blueprints/terraform/foundation/variables.tf
  docs/github-workflows-analysis.md
  docs/managed-identity-comparison.md
  docs/managed-identity-deployment-guide.md
Due: bicep-lint, bicep-format, bicep-avm-check, bicep-security-scan, terraform-fmt, azure-policy-check, resource-naming-check, cost-estimation

🔄 Policy Compliance Update: GitHub Actions Ready Deployment
  README.md
  blueprints/terraform/foundation/POLICY-COMPLIANCE-UPDATE.md
  blueprints/terraform/foundation/main.tf
  blueprints/terraform/foundation/terraform.tfvars
Due: terraform-fmt, azure-policy-check, resource-naming-check, cost-estimation

🔧 Fix Terraform formatting for GitHub Actions compliance
  blueprints/terraform/foundation/main.tf
  blueprints/terraform/foundation/terraform-aks-example.tfvars
  blueprints/terraform/foundation/terraform.tfvars
Due: terraform-fmt, azure-policy-check, resource-naming-check, cost-estimation

🛡️ Fix security scan false positive in outputs
  blueprints/terraform/foundation/outputs.tf
Due: terraform-fmt, azure-policy-check, resource-naming-check, cost-estimation

📚 Complete Private AKS Access Guide Documentation
  blueprints/terraform/foundation/PRIVATE-AKS-ACCESS-GUIDE.md
Due: none

🔧 Final Terraform formatting fix
  blueprints/terraform/foundation/outputs.tf
Due: terraform-fmt, azure-policy-check, resource-naming-check, cost-estimation

Fix GitHub Actions Azure authentication
  .github/workflows/terraform-alz-deployment.yml
Due: none

Revert Azure login to use creds parameter
  .github/workflows/terraform-alz-deployment.yml
Due: none

Fix Terraform plan exit code handling
  .github/workflows/terraform-alz-deployment.yml
Due: none

Fix Azure policy compliance issues
  blueprints/terraform/foundation/main.tf
  blueprints/terraform/foundation/terraform.tfvars
Due: terraform-fmt, azure-policy-check, resource-naming-check, cost-estimation

Disable App Service Plan and fix Terraform formatting
  blueprints/terraform/foundation/main.tf
  blueprints/terraform/foundation/terraform.tfvars
Due: terraform-fmt, azure-policy-check, resource-naming-check, cost-estimation

Fix AKS Kubernetes version format
  blueprints/terraform/foundation/terraform.tfvars
Due: none

Add GitHub workflows for ALZ resource cleanup and full deployment
  .github/workflows/terraform-alz-cleanup.yml
  .github/workflows/terraform-alz-full-deployment.yml
Due: none

feat: Add comprehensive AKS documentation and update resource naming
  .github/workflows/azure-landing-zone-cicd.yml
  .github/workflows/terraform-alz-cleanup.yml
  .github/workflows/terraform-alz-full-deployment.yml
  README.md
  blueprints/bicep/foundation/main.bicep
  blueprints/terraform/foundation/main.tf
  docs/DOCUMENTATION-UPDATE-SUMMARY.md
  docs/aks-configuration-guide.md
  docs/aks-deployment-guide.md
  docs/hub-spoke-design.md
Due: bicep-lint, bicep-format, bicep-avm-check, bicep-security-scan, terraform-fmt, azure-policy-check, resource-naming-check, cost-estimation

📊 Fix missing deployment report and update documentation
  .github/workflows/bicep-alz-sandbox.yml
  .github/workflows/infracost.yml
  .github/workflows/terraform-alz-deployment.yml
  .secrets.baseline
  README.md
  config/alz-components.yaml
  deployment-reports/20250930-075746/deployment-report.html
  deployment-reports/index.html
  docs/RESOLUTION-SUMMARY.md
  docs/configuration-management-guide.md
  docs/deployment-reporting-guide.md
  docs/essential-workflows-guide.md
  docs/infracost-test-results.md
  docs/remaining-challenges-resolved.md
  scripts/parse-config.py
Due: none

🔧 Fix Terraform VNet peering dependencies and role assignment issues
  .github/WORKFLOWS.md
  .github/workflows/bicep-alz-sandbox.yml
  .github/workflows/terraform-alz-deployment.yml
  README.md
  WORKFLOW_UPDATES.md
  blueprints/terraform/foundation/main.tf
  blueprints/terraform/foundation/terraform.tfvars
  blueprints/terraform/foundation/variables.tf
  docs/ALZ-SUBSCRIPTION-VENDING-FIXED.md
  docs/DEPLOYMENT-SUCCESS.md
  docs/DOCUMENTATION-UPDATE-SUMMARY.md
  docs/cicd-coordination-summary.md
  docs/deployment-coordination.md
  docs/deployment-failure-analysis-fix.md
  docs/experimental-avm-modules-deprecation.md
Due: terraform-fmt, azure-policy-check, resource-naming-check, cost-estimation

🔧 Fix Terraform workflow plan regeneration after imports
  .github/workflows/terraform-alz-deployment.yml
Due: none

🔧 Enhance Terraform import logic for more resource types
  .github/workflows/terraform-alz-deployment.yml
Due: none

🔧 Add comprehensive import support for all existing resources
  .github/workflows/terraform-alz-deployment.yml
Due: none

Path conditions:
  bicep-lint: any of: \.bicep$ and not (^archived/) and not (^archived/)
  bicep-format: any of: \.bicep$ and not (^archived/) and not (^archived/)
  bicep-avm-check: any of: \.bicep$ and not (^archived/) and not (^archived/)
  bicep-security-scan: any of: \.bicep$ and not (^archived/) and not (^archived/)
  terraform-fmt: any of: \.tf$, but not: ^archived/
  azure-policy-check: any of: \.(bicep|tf)$, but not: ^archived/
  resource-naming-check: any of: \.(bicep|tf)$, but not: ^archived/
  cost-estimation: any of: \.(bicep|tf)$, but not: ^archived/
